@font-face {
    font-family: "OpenSans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSans", Arial, sans-serif;
    /* font-weight: normal; */
}

.header {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    /* border: 1px solid red; */
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-container {
    width: 1170px; /* не понимаю, почему с 1200px фактический размер получается 1230 */
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
    /* border: 1px solid pink; */
}

.header::after {
    content: '';
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header-content {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 100%;
}

.header-logo {
    width: 180px;
    margin-top: 28px;
}

.header-menu-items {
    color: rgb(255, 255, 255);
    /* border: 1px solid grey; */
    display: flex;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    align-items: flex-end;
}

.header-menu-item {
    padding-left: 35px;
    padding-bottom: 15px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: inherit;
    color: inherit;
}

.title {
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    text-align: center;
    /* border: 1px solid grey; */
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.7;
    padding-top: 99px;
    padding-bottom: 124px;
    width: 690px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.main-section {
    margin: 50px auto 0;
    padding: 0 15px;
    width: 1200px;
    display: flex;
    /* border: 1px solid grey; */
    justify-content: space-between;
}

.article {
    display: flex;
    width: 780px;
    /* border: 1px solid grey; */
    /* font-family: "OpenSans", Arial, sans-serif; */
    /* margin-left: 12px; */
    margin-top: 45px;
}

.first-article {
    margin-top: 0;
}

.article-content {
    margin-left: 30px;
    font-size: 15px;
    margin-top: 10px;
}

.article-image {
    width: 380px; 
    margin-top: 15px;
    /* border: 1px solid grey; */
}

.article-tags {
    display: flex;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    text-transform: uppercase;
    /* border: 1px solid grey; */
    justify-content: flex-start;

}

.article-tag {

    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 20px 0 0;
    vertical-align: text-top;
    /* border: 1px solid grey; */
}

.article-heading {
    margin: 0;
    padding: 5px 0;
    /* border: 1px solid grey; */
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 0.8px;
    line-height: 1.3;
}

.article-info {
    display: flex;
    /* border: 1px solid grey; */
    font-size: 12px;
    color: #888888;
    margin-top: 24px;
}

.text {
    margin-bottom: 11px;
}


.article-info-autor {
    color: black;
    font-weight: bold;
    margin-left: 12px;
}

.article-text {
    margin-top: 45px;
    line-height: 1.5;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 272px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.aside-section {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin: 0;
}

.aside-heading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 8px;
    padding-left: 2px;
    font-size: 14px;
    position: relative;
    /* border: 1px solid black; */

}

.aside-heading:before {
    content: '';
    box-sizing: content-box;
    background-color: #b59f5b;;
    width: 65px;
    height: 3px;
    position: absolute;
    top: 30px;
    left: 105px;
    /* border: 1px solid black; */
    /* text-align: center; */
}

.news-container {
    display: flex;
    margin-top: 16px;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: content-box;
}

.news-first-container {
    margin: 37px 0 0;
}

.news-image {
    padding-top: 5px;
    /* border: 1px solid black; */
}

.news-text {
    margin: 2px 0 0 18px;
    line-height: 1.3;
    /* border: 1px solid black; */
    
}

.news-date {
    font-size: 12px;
    color: #888888;
}

.news-heading {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 2px;
    /* border: 1px solid black; */
}

.search-group {
    margin-top: 63px;
     /* border: 1px solid black; */
     margin-bottom: 0px;

}

.news-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

.search-row {
    display: block;
    width: 222px;
    height: 48px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f4f7f6;
    border: 0;
}


.search-button {
    display: block;
    box-sizing: border-box;
    height: 48px;
    width: 47px;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #b59f5b;
    border: 0;
    text-align: center;
    padding-top: 15px;
}


.subscribe-group {
    margin-top: 35px;
    margin-bottom: 45px;
}

.subscribe-row {
    display: block;
    width: 270px;
    height: 48px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f4f7f6;
    border: 0;
}

.subscribe-button {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
    box-sizing: border-box;
    height: 48px;
    width: 270px;
    color: white;
    background-color: #b59f5b;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.aside-tags {
    margin-top: 38px;
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 40px;
}

.aside-tag {
    box-sizing: content-box;
    border: 3px solid grey;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 13px 4px;
    margin: 0;
    margin-right: 6px;
    margin-bottom: 7px;
}


.aside-topics {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.aside-topic {
    border-bottom: 1px solid grey;
    height: 47px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.8px;
}



.topic-number {
    color:#b59f5b;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.footer {
    width: 1170px;
    margin: 70px auto;
    /* padding: 30px 0; */
}

.socials {
    display: flex;
    padding: 30px 0;
    background-color: grey;
    justify-content: center;
}



.social-link {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    margin-right: 5px;

}

.social-link-dribbble {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}

.social-link-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
}


.social-link-tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}


.social-link-text {
    /* position: absolute; */
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.copyrights {
    display: block;
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 72px;
    margin-bottom: 70px;
    padding-left: 6px;
    font-size: 12px;
    font-weight: 700;
}